@charset "UTF-8";
/* CSS Document */

/*base Styles*/
*{
	box-sizing: border-box;
}
/* header */
.header{
	font-weight: 200;
	color:rgba(0, 0, 0, 0.7);
}


/* logo */
#logo{
	font-size: 22px;
	color:rgba(0, 0, 0, 0.7);
}

/* Colors */

/* Background  */

body{
	background-color: rgba(160,94,161,.1);
}

.jumbotron{
	/* background-color: rgba(160,94,161,1); */
	background: linear-gradient(90deg, #A05EA1,#B595B5);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color:white;

	
}


/* fonts */
*{
	font-family: 'Oswald', sans-serif;
}

.nav-link{
	font-weight: 200;
	padding: 0;
}
.navbar{
	background: linear-gradient(90deg, #161319,#312936);
}
.navbar .navbar-toggler{
	outline: none;
   }
   #navbarDropdownMenuLink {
    padding: .5rem;
	color: rgba(255,255,255,.5);
	font-weight: 200;
	transition: ease-in color;
}
#navbarDropdownMenuLink:hover{
	color:white;
}
a:hover{
text-decoration: none;
}

   /* images */

   .luay{
  	width: 250px;
	height: 250px;
	border-radius: 50%;
	margin:auto;
	
	

   }
.luay-image{
	position: relative;
	padding-right: 50px;
}
/* .luay-image:after{
	position: absolute;
  	height: 100%;
  	width: 100%;
  	background-color: rgba(160,94,161,.3);
  	top: 0;
  	left: 0;
  	display: block;
  	content: "";
} */
   /* header layout */



/* main container */
.hidden{
	display: none;
}




   @media(max-width:500px){
.luay{
		display: none;
		
	}
	.header{
		display: block;
	}
	.header-text{
		padding-left: 0px;
	}
	
}