@media(min-width: 769px){

    .mobile{
       display: none;
    }

    /* card layout */
.tablet{
    margin-left: 5%;
    margin-right: 5%;
}
.tabc-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "white desc ."
    "white  not-accord .";
    grid-gap: 5%;
}
.card{
    border: none;
}

.white{
    background: rgba(20, 20, 20, 1);
  grid-area: white;
  position: relative;
  border-radius: 5px;
height: 250px;
  max-width: 400px;
 width: 300px;

}
 
.carousel-item{
    opacity: .6;

}

    .not-img{
        opacity: .4;
        grid-area: not-img;
    }


    .not-text{
        grid-area: desc;
        align-self: center;
    }
    .not-accord{
        grid-area: not-accord;
    }
}

@media(min-width: 1024px){
  
    .projects{
display: none;
    }
.about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2% .5fr .5fr 2%;
    margin-top: 50px;
    grid-gap: 5%;
    margin-bottom: 30px;
    grid-template-areas: 
    
    "about-header .."
    "about-text .."
    "about-text image"
    ".. about-footer"
}
.michael{
    grid-area: image;
}
.about p{
    grid-area: about-text;
}
.about-header{
    grid-area: about-header;
  
}
.about-footer{
    grid-area: about-footer;
    justify-self: end;
}
}